.header-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.menu-hamburguesa {
  display: none;
  margin-left: auto;
  position: relative;
}

.hamburguesa-boton {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 5px 10px;
  color: #2c3e50;
  display: block;
}

/* Responsive */
@media (max-width: 1090px) {
  .header-buttons {
    display: none;
  }

  .menu-hamburguesa {
    display: block;
  }
}
